/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
}
body, html {
    min-height: 100vh;
}

h1 {
    font-size: 24px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input {
    max-width: 280px;
}
input[type="number"] {
    max-width: 60px;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    resize: vertical;
}
textarea[readonly] {
    cursor: text;
}

pre {
    display: inline-block;
    padding: 0 3px;
    margin: 0;
}

.checkboxes label {
    display: block;
    margin-bottom: 0;
    cursor: pointer;
}
.checkboxes input {
    cursor: pointer;
}

#MainContent_nodeOptions input, #MainContent_nodeOptions label {
    cursor: pointer;
}
#MainContent_nodeOptions input {
    margin-right: 5px;
}

.body-content h2 {
    font-size: 20px;
}

#submit:hover {
    background-color: orange;
}

.errorMessage {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.optionDescription {
    margin: 20px 0 8px;
}

.foundProperties {
    width: calc(100% - 1px);
}
.foundProperties th, .checkboxes {
    text-align: center;
}
.foundProperties td {
    border: 1px solid black;
    padding: 3px;
}
.foundProperties th:nth-child(1) {
    min-width: 270px;
}
.foundProperties th:nth-child(2) {
    min-width: 380px;
}
.foundProperties th:nth-child(4) {
    min-width: 365px;
}

.foundProperties label {
    font-weight: normal;
    margin: 0;
}

.foundProperties .separator {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
}

.row {
    margin-top: 20px;
}

#fineTune {
    width: 60px;
}

#MainContent_Button2, .toggleContents {
    display: none;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.about {
    font-size: 16px;
}
.about a {
    font-weight: bold;
}

.prompt {
    margin-top: 30px;
}

.navbar-inverse {
    background-color: orange;
    border: none;
}
.navbar-inverse .navbar-nav .menuItem {
    color: grey;
    transition: all linear 0.3s;
}

.footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
}

.jumbotron {
    margin-top: 15px;
    padding: 1px 30px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    select {
        max-width: 280px;
    }
    .jumbotron {
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .jumbotron h1 {
        font-size: 42px;
        font-weight: bold;
    }
    .body-content {
        padding: 0;
    }
    .footer {
        max-width: 750px;
    }
}

@media screen and (min-width: 992px) {
    .footer {
        max-width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        max-width: 1170px;
    }
}