/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select {
    max-width: 280px;
}
input[type="number"] {
    max-width: 60px;
}

textarea {
    width: 100%;
    height: 300px;
    resize: vertical;
}

.checkboxes label {
    display: block;
    margin-bottom: 0;
    cursor: pointer;
}
.checkboxes input {
    cursor: pointer;
}

#submit:hover {
    background-color: orange;
}

.errorMessage {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.optionDescription {
    margin: 20px 0 8px;
}

.foundProperties {
    width: calc(100% - 1px);
}
.foundProperties th, .checkboxes {
    text-align: center;
}
.foundProperties td {
    border: 1px solid black;
    padding: 3px;
}
.foundProperties th:nth-child(1) {
    min-width: 270px;
}
.foundProperties th:nth-child(2) {
    min-width: 380px;
}
.foundProperties th:nth-child(4) {
    min-width: 365px;
}

.foundProperties label {
    font-weight: normal;
    margin: 0;
}

.foundProperties .separator {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
}

.row {
    margin-top: 20px;
}

#fineTune {
    width: 60px;
}

#MainContent_Button2, .toggleContents {
    display: none;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .jumbotron h1 {
        font-size: 42px;
        font-weight: bold;
    }
    .body-content {
        padding: 0;
    }
}
